<!DOCTYPE html>

<html>
<head>
	<title>Bootstrap</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	
	
	<div class="col-md-8" style="padding:20px;">
		<h1>Super-mega todo application</h1>
		<form name="addUserForm" style="margin-bottom:20px">
			<div class="btn-group" style="">
				<button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="!addUserForm.$valid">Add</button>
			</div>
			<input ng-model="newtodo.date" required type="date" name="" placeholder="date" class="form-control" style="width:200px; display:inline" />
			<input ng-model="newtodo.user" required type="text" name="" placeholder="user" class="form-control" style="width:200px; display:inline" />
		</form>

		<p>Search for the needed result:</p>
		<input type="text" ng-model="test" class="form-control" style="width:200px; display:inline; margin-bottom:20px">

		<p>Filterh for the needed result:</p>
		<form style="margin-bottom:20px">
			<label class="checkbox-inline">
				<input ng-model="checkbox.done" type="checkbox" value="">Done
			</label>
			<label class="checkbox-inline">
				<input ng-model="checkbox.inProgress" type="checkbox" value="">In progress
			</label>
		</form>
		<tt>value1 = {{checkbox.done}}</tt><br/>
		<tt>value2 = {{checkbox.inProgress}}</tt><br/>

		<table class="table table-bordered" ng-if="editing === undefined">
			<thead>
				<tr><th ng-click="sortBy('date')">Date</th>
					<th ng-click="sortBy('user')">User</th>
					<th>Status</th>
					<th>Action</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in myArray | filter: test | orderBy:myOrderBy" ng-hide="checkbox.done === true && (item.status ==='in progress' || item.status ==='todo' || item.status ==='partitialy done')" ng-hide="checkbox.done === true && (item.status ==='in progress' || item.status ==='todo' || item.status ==='partitialy done')">
					<td>{{item.date | date: 'dd/MM/yyyy' }}</td>
					<td>{{item.user }}</td>
					<td>{{item.status }}</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-xs" ng-click="edit(item)">Edit</button>
						 	<button type="button" class="btn btn-primary btn-xs" ng-click="delete(item)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<ng-form style="display: block; width:300px" class="well" ng-if="editing !== undefined">
			<input ng-model="editing.date" required type="date" name="" placeholder="date" class="form-control" style="margin-top:10px" />
			<input ng-model="editing.user" required type="text" name="" placeholder="user" class="form-control" style="margin-top:10px" />
			<div class="btn-group" style="margin-top:10px">
				<button type="button" class="btn btn-success btn-xs" ng-click="save()">Save</button>
				<button type="button" class="btn btn-danger btn-xs" ng-click="cancel()">Cancel</button>
			</div>
		</ng-form>
	</div>


</div>

<script>

	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {

		$scope.checkbox = {
			done: false,
			inProgress: false
		};

		$http.get("https://api.myjson.com/bins/3rau8")
			.then(function(response) {
				$scope.myArray = response.data;
			});


		$scope.newtodo = {};
		$scope.add = function () {
			$scope.myArray.push($scope.newtodo);
			$scope.newtodo = {};
		};

		$scope.editing = undefined;
		$scope.current = undefined;

		$scope.sortBy = function(x) {
			$scope.myOrderBy = x;
		}

		$scope.save = function () {
			$scope.editing = angular.copy($scope.editing, $scope.current);
			$scope.editing = undefined;
		};
		$scope.cancel = function () {
			$scope.editing = undefined;
		};
		$scope.edit = function (x) {
			$scope.current = x;
			$scope.editing = {
				user: x.user,
				date: x.date
			}
		};
		$scope.delete = function (x) {
				  var index = $scope.myArray.indexOf(x);
				  $scope.myArray.splice(index, 1);     
		};

	});




</script>
</body>
</html>


